:root {
--main-color: #02735E ;
--light-shades: #fbfafb;
--dark-shades: #014040;
--light-accent: #F27405;
--dark-accent: #731702;
}

body {
  background-color: var(--light-shades);
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 6vw;
}

h2 {
  font-size: 4.5vw;
}

h3 {
  font-size: 2.5vw;
  font-weight: normal;
}

a {
  outline: none;
  text-decoration: none;
}

a:link {
  color: var(--light-accent);
}

a:visited {
  color: var(--main-color);
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: var(--dark-accent);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px 20px 130px;
  background-color: var(--main-color);
}

.label {
  color: var(--dark-shades);
}

.sections {
  display: flex;
  justify-content: space-between;
  gap: 3em;
}

h3 > a:link {
  color: var(--light-shades);
}

h3 > a:visited {
  color: var(--dark-shades);
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 5vw;
  min-height: 100vh;
}

.main-information-block {
  width: 35vw;
  color: #383838;
  align-items: center;
}

.greeting {
  color: var(--light-accent);
}

.title {
  color: var(--main-color);
  width: 35vw;
  margin: 0 0 0.5em 0;
}

.photo {
  width: 40vw;
}

.navigation {
  background-color: var(--light-accent);
  padding: 10vh 5vw;
}

.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-accent);
}

.navigation-title {
  color: var(--dark-accent);
}

.navigation-text {
  width: 40vw;
  gap: 1em;
}

.navigation-img {
  width: 40vw;
}

li > a:link {
  color: var(--light-shades);
}

li > a:active {
  color: var(--dark-accent);
}

li > a:visited {
  color: var(--dark-shades);
}

.block {
  display: flex;
  justify-content: space-between;
  padding: 10vh 5vw;
}

.block-text-about{
  background-color: var(--dark-shades);
  padding: 1.5vw 2vw;
  color: var(--light-shades)
}

.site-name{
  color: var(--light-accent);
  margin: 0;
}

.link{
  font-size: 2.5vw;
}

.site-list{
  color: var(--light-accent);
}

.site-list:hover{
  text-decoration: underline;
}

.none{
  display: none;
}

.about-site{
  width: 40vw;
}

.block-title {
  color: var(--light-accent);
  margin-top: 0;
}

.block-text {
  width: 40vw;
  gap: 1em;
}

.block-img {
  width: 45vw;
}

.unuseful > img{
  width: 40vw;
}

footer {
  color: var(--dark-shades);
  background: var(--main-color);
  margin: 0;
  padding: 1.5vw 2vw;
}

footer > h3{
  font-size: 3.5vw;
}

.additional-information {
  color: var(--dark-shades);
  display: flex;
  gap: 50px;
  display: flex;
  align-items: center;
  padding-top: 5vw;
}

